@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 22 70% 95%;
  --foreground: 22 5% 10%;
  --card: 22 50% 90%;
  --card-foreground: 22 5% 15%;
  --popover: 22 70% 95%;
  --popover-foreground: 22 95% 10%;
  --primary: 22 91.3% 55.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 22 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -16 30% 90%;
  --muted-foreground: 22 5% 40%;
  --accent: -16 30% 90%;
  --accent-foreground: 22 5% 15%;
  --destructive: 0 70% 50%;
  --destructive-foreground: 22 5% 90%;
  --border: 22 30% 82%;
  --input: 22 30% 50%;
  --ring: 22 91.3% 55.1%;
  --radius: 0.3rem;
}
.dark {
  --background: 22 50% 10%;
  --foreground: 22 5% 90%;
  --card: 22 50% 10%;
  --card-foreground: 22 5% 90%;
  --popover: 22 50% 5%;
  --popover-foreground: 22 5% 90%;
  --primary: 22 91.3% 55.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 22 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -16 30% 25%;
  --muted-foreground: 22 5% 65%;
  --accent: -16 30% 25%;
  --accent-foreground: 22 5% 90%;
  --destructive: 0 70% 50%;
  --destructive-foreground: 22 5% 90%;
  --border: 22 30% 50%;
  --input: 22 30% 50%;
  --ring: 22 91.3% 55.1%;
  --radius: 0.3rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
